/** GENERAL **/
html, body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #202020;
}

a {
  color: #4183C4;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #2365A6;
  text-decoration: underline;
}

#body:after, #nav:after, .type:after, .product:after {
  content: "";
  display: table;
  clear: both;
}

/** HEADER **/
#header {
  background-color: #DDD;
  color: #444;
  font-size: .9em;
  font-weight: 700;
  text-shadow: 0 1px 1px #FFF;
  height: 100px;
  position: relative;
  z-index: 9;
}

#logo {
  height: 100px;
  position: absolute;
  top: 5px;
  left: 55px;
}

#mlv {
  height:100px;
  position: absolute;
  left: 175px;
}

#log {
  position: absolute;
  top: 15px;
  right: 55px;
}

#cart {
  position: absolute;
  bottom: 5px;
  right: 55px;
}

#nav {
  background-color: #303030;
  background-image: -webkit-linear-gradient(#404040, #202020);
  background-image: -moz-linear-gradient(#404040, #202020);
  background-image: -o-linear-gradient(#404040, #202020);
  background-image: linear-gradient(#404040, #202020);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  padding: 0 50px;
  position: relative;
}

#nav a {
  float: left;
  padding: 6px 0;
  margin: 0 50px;
  font-weight: 700;
  text-shadow: 0 -1px 1px #000;
  color: #DDD;
}

#nav div {
  background-color: rgba(0, 0, 0, .9);
  border-bottom: 3px solid #333;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .7);
  padding: 0 50px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease-in-out .4s, opacity .4s ease-in-out;
  -moz-transition: visibility 0s ease-in-out .4s, opacity .4s ease-in-out;
  -o-transition: visibility 0s ease-in-out .4s, opacity .4s ease-in-out;
  transition: visibility 0s ease-in-out .4s, opacity .4s ease-in-out;
}

#nav a:hover + div, #nav div:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}


/** BODY **/
#body {
  background-color: #FFF;
  border-color: #999;
  border-width: 0 1px 1px;
  border-style: solid;
  margin: 0 50px;
  padding: 15px;
  min-height: 450px;
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  -o-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}


/** CATEGORY BROWSING **/
.logo {
  text-align: center;
}
.type {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  margin: 10px;
  border-radius: 10px;
}
.title {
  background-color: #303030;
  background-image: -webkit-linear-gradient(#404040, #202020);
  background-image: -moz-linear-gradient(#404040, #202020);
  background-image: -o-linear-gradient(#404040, #202020);
  background-image: linear-gradient(#404040, #202020);
  color: #DDD;
  font-weight: 700;
  text-shadow: 0 -1px 1px #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px 10px;
}
.unit {
  margin: 15px;
  float: left;
  text-align: center;
}
.unit img {
  max-height: 150px;
}


/** LAPTOP PAGE **/
#product {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}
#picture,
#product .title,
#descriptions > div:last-child {
  text-align: center;
}
.product {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #CCC;
}
#picture {
  padding: 20px;
}
#picture img {
  max-width: 800px;
}
#descriptions {
  border-left: 1px solid #CCC;
  float: right;
  margin-bottom: -1px;
  max-width: 300px;
}
#descriptions > div {
  border-bottom: 1px solid #CCC;
  padding: 10px;
}

#javascript{
padding: 20px;	
float: right;
margin-bottom: -1px;
max-width: 300px;
border-left: 1px solid #CCC;
}

/** CART **/
.cart {
  background-color: #E5E5E5;
  border: 1px solid #AAA;
  text-align: left;
  width: 100%;
}
.cart tbody tr:nth-child(2n+1) {
  background-color: #D9D9D9;
}
.cart tbody tr:nth-child(2n) {
  background-color: #CCC;
}
.cart tr:nth-child(2) th {
  width: 10%;
}
.cart tr:nth-child(2) th:nth-child(2) {
  width: 60%;
}
.cart th:nth-child(3),
.cart th:nth-child(4),
.cart td:nth-child(3),
.cart td:nth-child(5) {
  text-align: center;
}
.cart td:nth-child(4),
.cart tbody tr:last-child td:nth-child(2) {
  text-align: right;
}


/** LOGIN & REGISTRATION **/
.error {
  color: red;
  font-weight: 700;
}
.form {
  text-align: center;
}
.form form {
  display: inline-block;
  text-align: right;
}
.form form > div:last-child {
  text-align: center;
}


/** ABOUT US **/
.col {
  float: left;
  padding: 1%;
  text-align: justify;
  width: 48%;
}

.col h1 {
  color: #222;
  margin: 10px 0 0;
  text-shadow: 0 1px 3px #777;
}

.col h3 {
  color: #222;
  margin: 10px 0 0;
  padding-bottom: 0.83em;
  text-shadow: 0 1px 3px #777;
}

/** FOOTER **/
#footer {
  margin: 10px 50px;
  color: #888;
  text-align: center;
  font-size: .7em;
  font-weight: 700;
  text-shadow: 0 2px 1px #000;
}
